/* Generated Password */
.infield-dialog .content .generatePassView #password {
    color: #222;
}

/* Password Length */
.infield-dialog .content .generatePassView #lengthlabel {
    color: #313538;
}
.infield-dialog .content .generatePassView #lengthInput {
    color: #222;
}
